// ----------------------------------
// FORM
// ----------------------------------
$form-group-background: #d8d7d7;
$input-border-color: #aaa;
$input-focus-border-color: #696969;
$error-message-color: #b33900;

// ----------------------------------
// HEADER
// ----------------------------------

$header-height: 3rem;
$title-background-color: #386679;
$title-font-color: #ddd;
$header-text-size: 1.3rem;
$subtitle-color: #aaa;

// ----------------------------------
// TABBAR - BOTTOM
// ----------------------------------
$tabbar-height: 3.5rem;
// $tab-bar-color: #264653;
$tab-bar-color: #f3f3f3;

// ----------------------------------
// TABBAR BUTTONS
// ----------------------------------
$button-background-color: #2a9d8f;
$button-border-color: #cacaca;
$button-text-color: #fff;
$button-hover-color: #1e7167;
$big-round-button-size: 120px;
$small-round-button-size: 70px;
$new-button-color: #2a9d8f;
$save-button-color: #2a9d8f;
$delete-button-color: #e76f51;
$cancel-button-color: #7c7c7c;

// ----------------------------------
// LIST ITEMS
// ----------------------------------
$list-item-background-color: #dbdbdb;
$item-subtitle-color: #505050;
